@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DynaPuff:wght@400..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Sevillana&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #e9f5ec, #ffffff);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.login-card {
  background: #fff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 420px;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: normal;
    font-family: Satisfy, sans-serif;
}

h2 {
  text-align: center;
  color: #4a6047;
  margin-bottom: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem;
}

.toggleSenha {
  position: absolute;
  right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #666;
  padding: 0;
  display: flex;
  align-items: center;
}

.toggleSenha:hover {
  color: #2b8a3e;
}

.full-width {
  width: 100%;
}

.hidden {
  display: none;
}