body {
  background-color: #f3fff3;
}

h1 {
  color: #247a34;
  text-align: center;
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  margin: 2rem auto;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.card-content h3 {
  margin: 0.5rem 0;
}

.card-content p {
  flex-grow: 1;
  margin-bottom: 1rem;
  color: #444;
}

.card-footer {
  text-align: center;
}
